extends layout


block content
  .main.container
    .row.text-center.bottom-buffer
       img(src='images/logo.jpg' style='width:30%; margin-top:80px').img-circle
    .row
      br
      .col-md-4.col-md-offset-4.text-center.bottom-buffer
        form(method='POST', action='/api/auth')
          div.form-group
            input.form-control(type='text', id='email', placeholder='Email', name='email')
          div.form-group
            input.form-control(type='password', id='password', placeholder='Password', name='password')
          button.btn.btn-primary(type='submit') Log in
          br
