extends layout

block content
  .main.container
    .row
      br
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Register
        form(name="register" action="/api/users" onsubmit="return validateRegisterForm()" method="post")
          div.form-group
            label(for='username') Username
            input.form-control#username(type='text' placeholder='Username' name='username')
          div.form-group
            label(for='email') Email
            input.form-control#email(type='email' placeholder='Email' name='email')
          div.form-group
            label(for='password') Password
            input.form-control#password(type='password' placeholder='Password' name='password')
          div.form-group
            label(for='confirmPassword') Confirm Password
            input.form-control#confirmPassword(type='password' placeholder='Confirm Password' name='confirmPassword')
          button#registerButton.btn.btn-primary(type='submit') Register
          br
          button.btn.btn-primary(type='submit') Reset
