extends layout

block content

	p User Profile

	#userprofile
		.col-md-4
			h3 User Name: 
			h3 #{userData.username}
			h3 Email Addres: 
			h3 #{userData.email}
			h3 Money: 
			h3 #{userData.money}
			h3 Portrait: 
			h3 #{userData.portrait}

